Q1

In [2]:
import pandas as pd

In [7]:
s=pd.array([4,8, 15, 16, 23,42])

In [8]:
pd.Series(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: Int64

Q2

In [9]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [10]:
data = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}
df=pd.DataFrame(data)

In [11]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q3

In [16]:
# DataFrams in pandas is 2d and size mutable potentially heterogeneous tabular data structure with labeled 
# axes (rows and columns)
# on the other hand Series in pandas is 1D array capable of storing data.
data_series=pd.Series([1,2,3,4,6],name="Age")

data1={
    'Age':[1,2,3,4,6],
    'Name':["ravi","ab",'b','v','a']
}

data_frame=pd.DataFrame(data1)

print(data_series)
print(data_frame)

0    1
1    2
2    3
3    4
4    6
Name: Age, dtype: int64
   Age  Name
0    1  ravi
1    2    ab
2    3     b
3    4     v
4    6     a

Q5

In [17]:
# head() and tail(): View the first or last few rows of the DataFrame. Useful for getting a quick snapshot of the data.
# describe(): Provides summary statistics of numerical columns. Useful for initial data exploration.
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
# Q6)Among Series, DataFrame, and Panel, both Series and DataFrame are mutable in nature. This means their contents (i.e., data and indices) can be modified. Panel, which is a somewhat deprecated 3D container for data in pandas, is also mutable. However, Panel is less commonly used and not recommended in newer versions of pandas.

In [24]:
# Q7
import pandas as pd

# Create multiple Series
series1 = pd.Series([1, 2, 3], name='A')
series2 = pd.Series(['X', 'Y', 'Z'], name='B')

# print(series1)
# Create DataFrame from the Series
df = pd.DataFrame({'Column1': series1, 'Column2': series2})

print(df)

   Column1 Column2
0        1       X
1        2       Y
2        3       Z