In [1]:
import pandas as pd

In [ ]:
# Q1

In [7]:
# Q2
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
print("Original DataFrame:")
print(df)

list_newindex=[]
for i in range(1,len(df)):
    list_newindex.append(i)

df.insert=list_newindex
print("\nReindexed DataFrame:")
print(df_reindexed)

Original DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Reindexed DataFrame:
   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [18]:
# Q3)
df = pd.DataFrame({
    'A': [1, 2, 3],
    'values': [4, 5, 6],
    'Text': ['Hello','OK','cool']
})
sum(df['values'][0:2])

9

In [26]:
# Q4
df['Word_Count']=df['Text'].str.len()
df

   A  values   Text  Word_Count
0  1       4  Hello           5
1  2       5     OK           2
2  3       6   cool           4

In [30]:
# Q5
df=pd.read_excel('Book1.xlsx')
df

   A  values  Text Word_Count  Unnamed: 4
0  0       1     4      Hello           5
1  1       2     5         OK           2
2  2       3     6       cool           4

In [32]:
# Q6
!pip install faker

Defaulting to user installation because normal site-packages is not writeable
Collecting faker
  Downloading Faker-20.1.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 321.3 kB/s eta 0:00:0000:0100:01
Collecting python-dateutil>=2.4
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.7/247.7 kB 211.8 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: python-dateutil, faker
Successfully installed faker-20.1.0 python-dateutil-2.8.2

[notice] A new release of pip is available: 23.0 -> 23.3.1
[notice] To update, run: /Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip

In [33]:
from faker import Faker

fake = Faker()

data = {
    'Name': [fake.name() for _ in range(50)],
    'Email': [fake.email() for _ in range(50)],
    'Phone': [fake.phone_number() for _ in range(50)]
}

df = pd.DataFrame(data)

print(df)

                      Name                             Email  \
0     William Williams Jr.               joneill@example.org
1          Emily Stevenson         abbottcynthia@example.net
2          Robert Robinson            davidreyes@example.org
3          Matthew Lambert                vyoung@example.com
4              Kevin Allen                 rpham@example.com
5         Michael Cantrell             ugonzales@example.com
6        Brittany Hatfield                asmith@example.org
7              Kim Morales                adam07@example.net
8            Pamela Miller               mgraham@example.net
9            Phillip Riley                kara49@example.com
10            Rachel Downs         rhodeskristin@example.net
11           Kristin Ortiz               tanya42@example.net
12           Nicole Wright              cheryl84@example.com
13            Stacey Vance              nicole43@example.org
14            Sarah Garcia             michael81@example.org
15            Diane Taylor          perkinsdavid@example.org
16             John George            traviswebb@example.com
17           Joshua Rogers             dianasnow@example.org
18        Michael Davidson             anntorres@example.com
19              Jill Henry                  imay@example.org
20             Bryan Marks           simsbrianna@example.net
21          Sharon Daniels              kescobar@example.com
22              Dana Bryan          sheenachavez@example.com
23            Diana Miller             claytracy@example.net
24           Stephen Reyes             aprilpham@example.org
25            Kathy Acosta               bmorris@example.com
26           Thomas Watson        gutierrezbilly@example.net
27           Heather Ramos            brodriguez@example.com
28        Crystal Campbell         theresataylor@example.com
29           Jacob Swanson                 phaas@example.org
30             Karen Singh            burtonleah@example.org
31               Paul Wood              bgarrett@example.com
32             Brian Davis  stevensonchristopher@example.com
33            Todd Jackson                 tking@example.net
34            Renee Benson          parkeramanda@example.net
35           Pamela Ortega       flemingkimberly@example.com
36            Sandra James               julie40@example.com
37             Dustin Ross             pmcintosh@example.net
38         Brian Patterson            lopezjames@example.com
39         John Fitzgerald            brownjenna@example.org
40          Caitlin Parker               sarah34@example.org
41              Gary Lopez           dannymiller@example.org
42          Garrett Parker             natalie29@example.net
43              Jacob Wong           davisalyssa@example.net
44             John Watson               kevin30@example.net
45       Shannon Carpenter      rodriguezbrandon@example.org
46           Scott Stanley       robertgallagher@example.com
47       Jacqueline Monroe           steelelucas@example.com
48  Christopher Weaver DDS          wesleybrewer@example.net
49             Amy Johnson         fishergregory@example.com

                     Phone
0            (852)767-2241
1         001-784-440-2542
2       (204)311-3371x6091
3    001-598-221-5869x6425
4          +1-538-559-6437
5            (537)636-9796
6        802.887.7561x7205
7    001-822-380-8161x0006
8    +1-535-774-1558x60774
9      (349)854-3386x92897
10        001-827-749-6628
11              2585221178
12     (477)828-3297x51207
13      (291)580-8804x4394
14      408.759.8231x14399
15              9708018247
16            371-572-5912
17            711.420.7226
18       938.301.4267x1250
19       704.442.8696x8756
20       255-765-5962x6393
21              3274525869
22      243.566.3710x19028
23   +1-654-737-2744x81532
24      409-342-8183x61639
25   001-334-955-8774x8509
26           (702)514-9324
27        601-500-5050x530
28  001-340-364-4662x02752
29    001-681-479-9119x549
30   +1-539-421-0980x93500
31           (213)485-8615
32        213.735.5743x177
33      866-820-7717x26946
34           (860)314-8102
35  001-329-528-9674x28513
36   +1-213-838-8520x46101
37              6752041505
38      429.609.0521x50034
39       779-551-5578x7319
40        808-459-3935x649
41        001-568-789-5946
42   +1-235-685-0692x08441
43            640-423-4541
44           (702)796-8938
45     +1-887-524-4321x407
46            241-241-1099
47        001-462-479-6735
48     +1-681-720-2881x467
49            561.949.3257

In [36]:
df['Username']=df['Email'].str.split('@').str[0]
df

,Name,Email,Phone,Username
0,William Williams Jr.,joneill@example.org,(852)767-2241,joneill
1,Emily Stevenson,abbottcynthia@example.net,001-784-440-2542,abbottcynthia
2,Robert Robinson,davidreyes@example.org,(204)311-3371x6091,davidreyes
3,Matthew Lambert,vyoung@example.com,001-598-221-5869x6425,vyoung
4,Kevin Allen,rpham@example.com,+1-538-559-6437,rpham
5,Michael Cantrell,ugonzales@example.com,(537)636-9796,ugonzales
6,Brittany Hatfield,asmith@example.org,802.887.7561x7205,asmith
7,Kim Morales,adam07@example.net,001-822-380-8161x0006,adam07
8,Pamela Miller,mgraham@example.net,+1-535-774-1558x60774,mgraham
9,Phillip Riley,kara49@example.com,(349)854-3386x92897,kara49
10,Rachel Downs,rhodeskristin@example.net,001-827-749-6628,rhodeskristin
11,Kristin Ortiz,tanya42@example.net,2585221178,tanya42
12,Nicole Wright,cheryl84@example.com,(477)828-3297x51207,cheryl84
13,Stacey Vance,nicole43@example.org,(291)580-8804x4394,nicole43
14,Sarah Garcia,michael81@example.org,408.759.8231x14399,michael81
15,Diane Taylor,perkinsdavid@example.org,9708018247,perkinsdavid
16,John George,traviswebb@example.com,371-572-5912,traviswebb
17,Joshua Rogers,dianasnow@example.org,711.420.7226,dianasnow
18,Michael Davidson,anntorres@example.com,938.301.4267x1250,anntorres
19,Jill Henry,imay@example.org,704.442.8696x8756,imay
20,Bryan Marks,simsbrianna@example.net,255-765-5962x6393,simsbrianna
21,Sharon Daniels,kescobar@example.com,3274525869,kescobar
22,Dana Bryan,sheenachavez@example.com,243.566.3710x19028,sheenachavez
23,Diana Miller,claytracy@example.net,+1-654-737-2744x81532,claytracy
24,Stephen Reyes,aprilpham@example.org,409-342-8183x61639,aprilpham
25,Kathy Acosta,bmorris@example.com,001-334-955-8774x8509,bmorris
26,Thomas Watson,gutierrezbilly@example.net,(702)514-9324,gutierrezbilly
27,Heather Ramos,brodriguez@example.com,601-500-5050x530,brodriguez
28,Crystal Campbell,theresataylor@example.com,001-340-364-4662x02752,theresataylor
29,Jacob Swanson,phaas@example.org,001-681-479-9119x549,phaas
30,Karen Singh,burtonleah@example.org,+1-539-421-0980x93500,burtonleah
31,Paul Wood,bgarrett@example.com,(213)485-8615,bgarrett
32,Brian Davis,stevensonchristopher@example.com,213.735.5743x177,stevensonchristopher
33,Todd Jackson,tking@example.net,866-820-7717x26946,tking
34,Renee Benson,parkeramanda@example.net,(860)314-8102,parkeramanda
35,Pamela Ortega,flemingkimberly@example.com,001-329-528-9674x28513,flemingkimberly
36,Sandra James,julie40@example.com,+1-213-838-8520x46101,julie40
37,Dustin Ross,pmcintosh@example.net,6752041505,pmcintosh
38,Brian Patterson,lopezjames@example.com,429.609.0521x50034,lopezjames
39,John Fitzgerald,brownjenna@example.org,779-551-5578x7319,brownjenna
40,Caitlin Parker,sarah34@example.org,808-459-3935x649,sarah34
41,Gary Lopez,dannymiller@example.org,001-568-789-5946,dannymiller
42,Garrett Parker,natalie29@example.net,+1-235-685-0692x08441,natalie29
43,Jacob Wong,davisalyssa@example.net,640-423-4541,davisalyssa
44,John Watson,kevin30@example.net,(702)796-8938,kevin30
45,Shannon Carpenter,rodriguezbrandon@example.org,+1-887-524-4321x407,rodriguezbrandon
46,Scott Stanley,robertgallagher@example.com,241-241-1099,robertgallagher
47,Jacqueline Monroe,steelelucas@example.com,001-462-479-6735,steelelucas
48,Christopher Weaver DDS,wesleybrewer@example.net,+1-681-720-2881x467,wesleybrewer
49,Amy Johnson,fishergregory@example.com,561.949.3257,fishergregory

In [42]:
# Q8
data = {'A': [3, 8, 6, 2, 9,8,9],
        'B': [5, 2, 9, 3, 1,2,1],
        'C': [1, 7, 4, 5, 2,7,2]}
df = pd.DataFrame(data)
ans=df[(df['A']>5) & (df['B']<10)]
ans

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2
5  8  2  7
6  9  1  2

In [54]:
# Q9
data = {'A': [3, 8, 6, 2, 9,8,9],
        'Values': [5, 2, 9, 3, 1,2,1],
        'C': [1, 7, 4, 5, 2,7,2]}
df = pd.DataFrame(data)
m=df['Values'].mean()
mead=df['Values'].median()
sd=df['Values'].std()

print(m," ",mead," ",sd)

3.2857142857142856   2.0   2.870208222079931

In [62]:
# Q10
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', 
             '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10', 
             '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15', 
             '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', 
             '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24', '2023-01-25', 
             '2023-01-26', '2023-01-27', '2023-01-28', '2023-01-29', '2023-01-30'],
    'Sales': [272, 147, 217, 292, 423, 356, 198, 234, 256, 312, 
              142, 150, 349, 371, 295, 333, 222, 198, 267, 345, 
              433, 256, 322, 147, 169, 213, 238, 359, 392, 276]
}

df = pd.DataFrame(data)

df['MovingAverage']=df['Sales'].rolling(7).mean()
df

          Date  Sales  MovingAverage
0   2023-01-01    272            NaN
1   2023-01-02    147            NaN
2   2023-01-03    217            NaN
3   2023-01-04    292            NaN
4   2023-01-05    423            NaN
5   2023-01-06    356            NaN
6   2023-01-07    198     272.142857
7   2023-01-08    234     266.714286
8   2023-01-09    256     282.285714
9   2023-01-10    312     295.857143
10  2023-01-11    142     274.428571
11  2023-01-12    150     235.428571
12  2023-01-13    349     234.428571
13  2023-01-14    371     259.142857
14  2023-01-15    295     267.857143
15  2023-01-16    333     278.857143
16  2023-01-17    222     266.000000
17  2023-01-18    198     274.000000
18  2023-01-19    267     290.714286
19  2023-01-20    345     290.142857
20  2023-01-21    433     299.000000
21  2023-01-22    256     293.428571
22  2023-01-23    322     291.857143
23  2023-01-24    147     281.142857
24  2023-01-25    169     277.000000
25  2023-01-26    213     269.285714
26  2023-01-27    238     254.000000
27  2023-01-28    359     243.428571
28  2023-01-29    392     262.857143
29  2023-01-30    276     256.285714

In [66]:
df['Date'] = pd.to_datetime(df['Date'])

df['Weekday'] = df['Date'].dt.day_name()
df

         Date  Sales  MovingAverage    Weekday
0  2023-01-01    272            NaN     Sunday
1  2023-01-02    147            NaN     Monday
2  2023-01-03    217            NaN    Tuesday
3  2023-01-04    292            NaN  Wednesday
4  2023-01-05    423            NaN   Thursday
5  2023-01-06    356            NaN     Friday
6  2023-01-07    198     272.142857   Saturday
7  2023-01-08    234     266.714286     Sunday
8  2023-01-09    256     282.285714     Monday
9  2023-01-10    312     295.857143    Tuesday
10 2023-01-11    142     274.428571  Wednesday
11 2023-01-12    150     235.428571   Thursday
12 2023-01-13    349     234.428571     Friday
13 2023-01-14    371     259.142857   Saturday
14 2023-01-15    295     267.857143     Sunday
15 2023-01-16    333     278.857143     Monday
16 2023-01-17    222     266.000000    Tuesday
17 2023-01-18    198     274.000000  Wednesday
18 2023-01-19    267     290.714286   Thursday
19 2023-01-20    345     290.142857     Friday
20 2023-01-21    433     299.000000   Saturday
21 2023-01-22    256     293.428571     Sunday
22 2023-01-23    322     291.857143     Monday
23 2023-01-24    147     281.142857    Tuesday
24 2023-01-25    169     277.000000  Wednesday
25 2023-01-26    213     269.285714   Thursday
26 2023-01-27    238     254.000000     Friday
27 2023-01-28    359     243.428571   Saturday
28 2023-01-29    392     262.857143     Sunday
29 2023-01-30    276     256.285714     Monday

In [69]:
# Q12
df[(df['Date']>'2023-01-01') & (df['Date']<'2023-01-31')]

         Date  Sales  MovingAverage    Weekday
1  2023-01-02    147            NaN     Monday
2  2023-01-03    217            NaN    Tuesday
3  2023-01-04    292            NaN  Wednesday
4  2023-01-05    423            NaN   Thursday
5  2023-01-06    356            NaN     Friday
6  2023-01-07    198     272.142857   Saturday
7  2023-01-08    234     266.714286     Sunday
8  2023-01-09    256     282.285714     Monday
9  2023-01-10    312     295.857143    Tuesday
10 2023-01-11    142     274.428571  Wednesday
11 2023-01-12    150     235.428571   Thursday
12 2023-01-13    349     234.428571     Friday
13 2023-01-14    371     259.142857   Saturday
14 2023-01-15    295     267.857143     Sunday
15 2023-01-16    333     278.857143     Monday
16 2023-01-17    222     266.000000    Tuesday
17 2023-01-18    198     274.000000  Wednesday
18 2023-01-19    267     290.714286   Thursday
19 2023-01-20    345     290.142857     Friday
20 2023-01-21    433     299.000000   Saturday
21 2023-01-22    256     293.428571     Sunday
22 2023-01-23    322     291.857143     Monday
23 2023-01-24    147     281.142857    Tuesday
24 2023-01-25    169     277.000000  Wednesday
25 2023-01-26    213     269.285714   Thursday
26 2023-01-27    238     254.000000     Friday
27 2023-01-28    359     243.428571   Saturday
28 2023-01-29    392     262.857143     Sunday
29 2023-01-30    276     256.285714     Monday